/* --------------- body --------------- */
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: serif;
    background-image: url("../Media/starts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------------- header --------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
header #logo {
    height: 120px;
    width: 270px;
    margin-right: 100px;
}
header nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #5abbf1;
    font-size: 25px;
}
header nav a:hover {
    color: #2985d0;
    border-bottom: 2.5px solid #5abbf1;
}

/* --------------- main --------------- */
.container {
    position: relative;
    max-width: 1000px;
    max-height: 600px;
    margin: 20px auto;
}
.container img {
    width: 1000px;
    height: 600px;
}
.container .content {
    position: absolute;
    bottom: 0;
    margin: 0%;
    max-width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.35);
    color: #ffffff;
}